[Bootstrap]
Zip=./media/packs/OgreCore.zip

[General]
FileSystem=./media/
FileSystem=./media/materials
FileSystem=./media/materials/textures
FileSystem=./media/materials/scripts
FileSystem=./media/materials/programs
FileSystem=./media/models
FileSystem=./media/particles
FileSystem=./media/overlays
Zip=./media/packs/skybox.zip
Zip=./media/packs/dragon.zip
#Zip=./media/packs/cubemap.zip
#Zip=./media/packs/cubemapsJS.zip
